<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BacNetIp" value="10.81.32.204" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!--<lightZones>
		<ArrayOfLightZone xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<LightZone InputAddress="1400.BV1102" SetPointAddress="100.AV10231">
				<OutputAddresses>
					<string>
						17811.AO1104
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1101" SetPointAddress="1400.AV1101">
				<OutputAddresses>
					<string>
						17811.AO1103
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1108" SetPointAddress="1400.AV1108">
				<OutputAddresses>
					<string>
						17811.AO1101
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1106" SetPointAddress="1400.AV1106">
				<OutputAddresses>
					<string>
						17811.AO1000
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1107" SetPointAddress="1400.AV1107">
				<OutputAddresses>
					<string>
						17811.AO1102
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1302" SetPointAddress="1400.AV1302">
				<OutputAddresses>
					<string>
						17811.AO1001
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1304" SetPointAddress="1400.AV1304">
				<OutputAddresses>
					<string>
						17811.AO1002
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1203" SetPointAddress="1400.AV1203">
				<OutputAddresses>
					<string>
						17811.AO1003
					</string>
					<string>
						1400.BV1304
					</string>
					<string>
						1400.BV1205
					</string>
					<string>
						1400.BV1206
					</string>
					<string>
						1400.BV1204
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1206" SetPointAddress="1400.AV1206">
				<OutputAddresses>
					<string>
						17811.AO1004
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1305" SetPointAddress="1400.AV1305">
				<OutputAddresses>
					<string>
						17811.AO1005
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1301" SetPointAddress="1400.AV1301">
				<OutputAddresses>
					<string>
						17811.AO1006
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1208" SetPointAddress="1400.AV1208">
				<OutputAddresses>
					<string>
						17811.AO1007
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1207" SetPointAddress="1400.AV1207">
				<OutputAddresses>
					<string>
						17811.AO1008
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1204" SetPointAddress="1400.AV1204">
				<OutputAddresses>
					<string>
						17811.AO1009
					</string>
					<string>
						1400.BV1207
					</string>
					<string>
						1400.BV1208
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1400.BV1205" SetPointAddress="1400.AV1205">
				<OutputAddresses>
					<string>
						17811.AO1010
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1101" SetPointAddress="1300.AV1101">
				<OutputAddresses>
					<string>
						17812.AO68097
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1106" SetPointAddress="1300.AV1106">
				<OutputAddresses>
					<string>
						17812.AO68352
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1209" SetPointAddress="1300.AV1106">
				<OutputAddresses>
					<string>
						17812.AO68353
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1103" SetPointAddress="1300.AV1103">
				<OutputAddresses>
					<string>
						17812.AO68608
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1104" SetPointAddress="1300.AV1104">
				<OutputAddresses>
					<string>
						17812.AO68096
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1105" SetPointAddress="1300.AV1105">
				<OutputAddresses>
					<string>
						17812.AO68612
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1201" SetPointAddress="1300.AV1201">
				<OutputAddresses>
					<string>
						17812.AO68611
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1202" SetPointAddress="1300.AV1202">
				<OutputAddresses>
					<string>
						17812.AO68101
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="1300.BV1102" SetPointAddress="1300.AV1102">
				<OutputAddresses>
					<string>
						17812.AO68609
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1101" SetPointAddress="2300.AV1101">
				<OutputAddresses>
					<string>
						17822.AO68352
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1102" SetPointAddress="2300.AV1102">
				<OutputAddresses>
					<string>
						17822.AO68353
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1103" SetPointAddress="2300.AV1103">
				<OutputAddresses>
					<string>
						17822.AO68354
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1104" SetPointAddress="2300.AV1104">
				<OutputAddresses>
					<string>
						17822.AO68355
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1105" SetPointAddress="2300.AV1105">
				<OutputAddresses>
					<string>
						17822.AO68356
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1106" SetPointAddress="2300.AV1106">
				<OutputAddresses>
					<string>
						17822.AO68611
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1107" SetPointAddress="2300.AV1107">
				<OutputAddresses>
					<string>
						17822.AO68612
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1302" SetPointAddress="2300.AV1302">
				<OutputAddresses>
					<string>
						17822.AO68614
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1303" SetPointAddress="2300.AV1303">
				<OutputAddresses>
					<string>
						17822.AO68613
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1108" SetPointAddress="2300.AV1108">
				<OutputAddresses>
					<string>
						17822.AO68357
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1202" SetPointAddress="2300.AV1202">
				<OutputAddresses>
					<string>
						17822.AO68358
					</string>
					<string>
						2300.BV1108
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1204" SetPointAddress="2300.AV1204">
				<OutputAddresses>
					<string>
						17822.AO68359
					</string>
					<string>
						2300.BV1206
					</string>
					<string>
						2300.BV1208
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1206" SetPointAddress="2300.AV1206">
				<OutputAddresses>
					<string>
						17822.AO68360
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1208" SetPointAddress="2300.AV1208">
				<OutputAddresses>
					<string>
						17822.AO68361
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2300.BV1301" SetPointAddress="2300.AV1301">
				<OutputAddresses>
					<string>
						17822.AO68615
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV1" SetPointAddress="2400.AV1">
				<OutputAddresses>
					<string>
						17821.AO1203
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV2" SetPointAddress="2400.AV2">
				<OutputAddresses>
					<string>
						17821.AO1204
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV13" SetPointAddress="2400.AV13">
				<OutputAddresses>
					<string>
						17821.AO1202
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV14" SetPointAddress="2400.AV14">
				<OutputAddresses>
					<string>
						17821.AO1201
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV16" SetPointAddress="2400.AV16">
				<OutputAddresses>
					<string>
						17821.AO1007
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV17" SetPointAddress="2400.AV17">
				<OutputAddresses>
					<string>
						17821.AO1006
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV18" SetPointAddress="2400.AV18">
				<OutputAddresses>
					<string>
						17821.AO1005
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV19" SetPointAddress="2400.AV19">
				<OutputAddresses>
					<string>
						17821.AO1107
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV20" SetPointAddress="2400.AV20">
				<OutputAddresses>
					<string>
						17821.AO1106
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV21" SetPointAddress="2400.AV21">
				<OutputAddresses>
					<string>
						17821.AO1105
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV22" SetPointAddress="2400.AV22">
				<OutputAddresses>
					<string>
						17821.AO1004
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV4" SetPointAddress="2400.AV4">
				<OutputAddresses>
					<string>
						17821.AO1003
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV5" SetPointAddress="2400.AV5">
				<OutputAddresses>
					<string>
						17821.AO1002
					</string>
					<string>
						2400.BV4
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV7" SetPointAddress="2400.AV7">
				<OutputAddresses>
					<string>
						17821.AO1001
					</string>
					<string>
						2400.BV10
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV10" SetPointAddress="2400.AV10">
				<OutputAddresses>
					<string>
						17821.AO1000
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="2400.BV15" SetPointAddress="2400.AV15">
				<OutputAddresses>
					<string>
						17821.AO1200
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV16" SetPointAddress="3300.AV16">
				<OutputAddresses>
					<string>
						17832.AO68615
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV17" SetPointAddress="3300.AV17">
				<OutputAddresses>
					<string>
						17832.AO68614
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV18" SetPointAddress="3300.AV18">
				<OutputAddresses>
					<string>
						17832.AO68613
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV6" SetPointAddress="3300.AV5">
				<OutputAddresses>
					<string>
						17832.AO68612
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV5" SetPointAddress="3300.AV6">
				<OutputAddresses>
					<string>
						17832.AO68611
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV4" SetPointAddress="3300.AV4">
				<OutputAddresses>
					<string>
						17832.AO68355
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV3" SetPointAddress="3300.AV3">
				<OutputAddresses>
					<string>
						17832.AO68354
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV2" SetPointAddress="3300.AV2">
				<OutputAddresses>
					<string>
						17832.AO68353
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV1" SetPointAddress="3300.AV1">
				<OutputAddresses>
					<string>
						17832.AO68352
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV9" SetPointAddress="3300.AV9">
				<OutputAddresses>
					<string>
						17832.AO68357
					</string>
					<string>
						3300.BV7
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV7" SetPointAddress="3300.AV7">
				<OutputAddresses>
					<string>
						17832.AO68356
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV11" SetPointAddress="3300.AV11">
				<OutputAddresses>
					<string>
						17832.AO68358
					</string>
					<string>
						3300.BV13
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV13" SetPointAddress="3300.AV13">
				<OutputAddresses>
					<string>
						17832.AO68359
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3300.BV15" SetPointAddress="3300.AV15">
				<OutputAddresses>
					<string>
						17832.AO68360
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV1" SetPointAddress="3400.AV1">
				<OutputAddresses>
					<string>
						17831.AO68611
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV2" SetPointAddress="3400.AV2">
				<OutputAddresses>
					<string>
						17831.AO68612
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV13" SetPointAddress="3400.AV13">
				<OutputAddresses>
					<string>
						17831.AO68610
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV14" SetPointAddress="3400.AV14">
				<OutputAddresses>
					<string>
						17831.AO68609
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV16" SetPointAddress="3400.AV16">
				<OutputAddresses>
					<string>
						17831.AO68104
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV17" SetPointAddress="3400.AV17">
				<OutputAddresses>
					<string>
						17831.AO68103
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV19" SetPointAddress="3400.AV19">
				<OutputAddresses>
					<string>
						17831.AO68101
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV20" SetPointAddress="3400.AV20">
				<OutputAddresses>
					<string>
						17831.AO68100
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV21" SetPointAddress="3400.AV21">
				<OutputAddresses>
					<string>
						17831.AO68357
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV22" SetPointAddress="3400.AV22">
				<OutputAddresses>
					<string>
						17831.AO68356
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV4" SetPointAddress="3400.AV4">
				<OutputAddresses>
					<string>
						17831.AO68099
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV5" SetPointAddress="3400.AV5">
				<OutputAddresses>
					<string>
						17831.AO68098
					</string>
					<string>
						3400.BV4
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV7" SetPointAddress="3400.AV7">
				<OutputAddresses>
					<string>
						17831.AO68097
					</string>
					<string>
						3400.BV10
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV10" SetPointAddress="3400.AV10">
				<OutputAddresses>
					<string>
						17831.AO68096
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV15" SetPointAddress="3400.AV15">
				<OutputAddresses>
					<string>
						17831.AO68608
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV18" SetPointAddress="3400.AV18">
				<OutputAddresses>
					<string>
						17831.AO68102
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="3400.BV23" SetPointAddress="3400.AV23">
				<OutputAddresses>
					<string>
						17831.AO68355
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1103" SetPointAddress="4300.AV1103">
				<OutputAddresses>
					<string>
						17842.AO68610
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1104" SetPointAddress="4300.AV1104">
				<OutputAddresses>
					<string>
						17842.AO68609
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1105" SetPointAddress="4300.AV1105">
				<OutputAddresses>
					<string>
						17842.AO68608
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1106" SetPointAddress="4300.AV1106">
				<OutputAddresses>
					<string>
						17842.AO68357
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1107" SetPointAddress="4300.AV1107">
				<OutputAddresses>
					<string>
						17842.AO68358
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1301" SetPointAddress="4300.AV1301">
				<OutputAddresses>
					<string>
						17842.AO68615
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1302" SetPointAddress="4300.AV1302">
				<OutputAddresses>
					<string>
						17842.AO68614
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1303" SetPointAddress="4300.AV1303">
				<OutputAddresses>
					<string>
						17842.AO68613
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1204" SetPointAddress="4300.AV1204">
				<OutputAddresses>
					<string>
						17842.AO68097
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1202" SetPointAddress="4300.AV1202">
				<OutputAddresses>
					<string>
						17842.AO68099
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1208" SetPointAddress="4300.AV1208">
				<OutputAddresses>
					<string>
						17842.AO68096
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1108" SetPointAddress="4300.AV1108">
				<OutputAddresses>
					<string>
						17842.AO68098
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1101" SetPointAddress="4300.AV1101">
				<OutputAddresses>
					<string>
						17842.AO68612
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4300.BV1102" SetPointAddress="4300.AV1102">
				<OutputAddresses>
					<string>
						17842.AO68611
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4400.BV1101" SetPointAddress="4400.AV1101">
				<OutputAddresses>
					<string>
						17841.AO68099
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4400.BV1102" SetPointAddress="4400.AV1102">
				<OutputAddresses>
					<string>
						17841.AO68100
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4400.BV1105" SetPointAddress="4400.AV1105">
				<OutputAddresses>
					<string>
						17841.AO68098
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4400.BV1106" SetPointAddress="4400.AV1106">
				<OutputAddresses>
					<string>
						17841.AO68097
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4400.BV1107" SetPointAddress="4400.AV1107">
				<OutputAddresses>
					<string>
						17841.AO68096
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4400.BV1201" SetPointAddress="4400.AV1201">
				<OutputAddresses>
					<string>
						17841.AO68355
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
			<LightZone InputAddress="4400.BV1202" SetPointAddress="4400.AV1202">
				<OutputAddresses>
					<string>
						17841.AO68356
					</string>
				</OutputAddresses>
				<OutputAlarmAddresses/>
			</LightZone>
		</ArrayOfLightZone>
	</lightZones>-->
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<services>
			<service name="LightService.ControlService.ServiceControl">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8733/LightControl/" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<!-- Unless fully qualified, address is relative to base address supplied above -->
				<endpoint address="" binding="basicHttpBinding" contract="LightService.ControlService.IAstoriaLightServiceControl">
					<!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
				<!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>